<template id="form-tab">
  <style>
    .form-tab {
      background-color: #F8AE29;
      border-radius: 8px 8px 0 0;
      width: 112px;
      height: 22px;
      display: flex;
      align-items: center;
      justify-content: center;
      border: 1px solid #E5E5E5;
      border-bottom: none;
    }

    .form-tab__text {
      display: flex;
      flex-direction: row;
      font-size: 14px;
      justify-content: center;
      font-weight: bold;
      user-select: none;
    }

    .tab__text span:nth-child(1) {
      margin-right: 4px;
      color: #E5E5E5;
    }
  </style>

  <div class="form-tab">
    <!-- TODO передать это как children-->
    <div class="form-tab__text">
      <span></span>
    </div>
  </div>
</template>
