<template id="tab">
  <style>
    .tab {
      background-color: #5C7728;
      border-radius: 8px 8px 0 0;
      width: 100px;
      height: 22px;
      display: flex;
      align-items: center;
      justify-content: center;
      border: 1px solid #E5E5E5;
    }

    .tab__text {
      display: flex;
      flex-direction: row;
      font-size: 14px;
      justify-content: center;
      font-weight: bold;
    }

    .tab__text span:nth-child(1) {
      margin-right: 4px;
      color: #E5E5E5;
    }
  </style>

  <div class="tab">
    <!-- TODO передать это как children-->
    <div class="tab__text">
      <span></span><span></span>
    </div>
  </div>
</template>
